* {
  margin: 0;
  padding: 0;
}

section {
  background: rgb(36,22,0);
  background: linear-gradient(90deg, rgba(36,22,0,1) 0%, rgba(107,177,208,0.9360119047619048) 35%, rgba(8,33,132,1) 84%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}